/* This is a custom stylesheet to design my portfolio. */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Arvo|Abel|Encode+Sans+Condensed|Khand|News+Cycle|Lora|Crimson+Text');

header {
    height: 100vh;
    word-wrap: break-word;
    padding: 0;
    background: #000000 url(../imgs/teal-legos-background.jpg) 100% 100% repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 35pt;
}

h2 {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid;
    border-bottom-color: #e3cd56;
}

section {
    padding-top: 50px;
    padding-bottom: 125px;
}

a {
    color: white;
}

a:hover, a:focus {
    color: darkslategray;
    text-decoration: none;
}

blockquote {
    font-family: 'Lora', 'Crimson Text', 'Times New Roman', serif;
}

.bg-light-blue {
    background-color: #b9eae5;
}

.bg-gold {
    background-color: #e3cd56;
}

#title-box {
    background: white;
    opacity: 0.94;
    max-width: 50%;
    padding: 40px;
}

#edu-container {
    display: flex;
    justify-content: space-around;
    height: 550px;
}

.edu-card>p {
    margin-bottom: 10%;
}

.edu-card {
    padding: 30px;
    width: 50%;
    min-width: 300px;
}

.hexagon {
    position: relative;
    width: 130px;
    height: 75.06px;
    background-color: #e3cd56;
    margin: 0 5px;
    color: white;
    transform: rotate(30deg);
    left: 35%;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 37.53px solid #e3cd56;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 37.53px solid #e3cd56;
}

.hexagon p {
    transform: rotate(-30deg);
    font-size: 10pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#java-course {
    margin-top: 10%;
}

#structures-course {
    left: calc(35% - 121px);
    top: -5px;
}

#web-course {
    top: -10px;
}

#software-course {
    left: calc(35% + 121px);
    top: -15px;
}

#hardware-course {
    top: -20px;
}

#math-course {
    left: calc(35% + 242px);
    top: -96px;
}

#data-course {
    left: calc(35% - 121px);
    top: -100px;
}

#graph {
    width: 80%;
    margin: auto;
    position: relative;
    left: -5%;
}

#skills-chart {
    margin-bottom: 50px;
}

#modal-text {
    color: #909090;
    font-size: 1rem;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#modal-text:hover, #modal-text:focus {
    color: deepskyblue;
    cursor: pointer;
}

.project-card {
    margin: 10px;
    height: 215px;
    width: 350px;
}

.activity-card {
    margin: 10px;
    height: 320px;
    width: 240px;
}

.date {
    color: gray;
    font-size: 0.75rem;
}

.project-card:hover,
.project-card:focus {
    cursor: pointer;
}

.front, .back {
    padding: 20px;
    text-align: center;
    font-family: 'Arvo', 'Open Sans', 'Century Gothic', sans-serif;
    font-size: 12pt;
    background-color: white;
}

.project-card .front, .project-card .back {
    border: solid;
    border-color: #e3cd56;
}

.back {
    font-size: 11pt;
}

.title-box, .front, .back, .hexagon, #edu-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Contact Panel */
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.btn-outline {
    border: solid 2px #fff;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.list-inline {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.btn-outline:hover,
.btn-outline:focus {
    border: solid 1px #fff;
    color: darkslategray;
    background: #fff;
}

#contact p {
    font-family: 'Open Sans', serif;
    font-size: 22pt;
}

.first-letter {
    font-size: 28pt;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}